{% load static %}
<div id="sidebar">
  <!-- <div class="toggle-btn">
    <span>&#9776;</span>
  </div> -->
  <ul>
    <li>
      <img
        src="{% static 'img/EISI.jpg'%}"
        class="logo"
        style="width: 150px; height: 150px"
      />
    </li>
    <li class="nav-item active">
      <a href="{% url 'inicio' %}" class="link-secondary">Inicio</a>
        
    </li>
    <li class="nav-item active">
      <a href="{% url 'transaccion' %}" class="link-secondary">Libros</a>       
    </li>

    <li class="nav-item active">
      <a href="{% url 'inicio2' %}" class="link-secondary">Indice contabilidad general</a>
    </li> 

      <li class="nav-item active">
        <a href="{% url 'costo' %}" class="link-secondary">Indice contabilidad de costos</a>       
      </li>
  </ul>
</div>
