{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Estado de Capital
{% endblock titulo %}

{% block content %}
<br><h1>Estado de Capital</h1><br>
<table class="table table-striped" style="font-size: x-large;">
  <thead class="table-dark">
      <tr>
          <th>Nombre de la Cuenta</th>
          <th>MONTO</th>
      </tr>
  </thead>
  <tbody class="table-group-divider">
          <tr>
              <td>{{ capital.nombre }}</td>
              <td>{{ capital.monto }}</td>         
          </tr>
          <tr>
              <td>{{ perdida_ganancia.nombre }}</td>     
              <td>{{ perdida_ganancia.monto }}</td>
          </tr>
  </tbody>
  <tfoot class ="table-dark">
      <tr>
          <td><b>Total:</b></td>
          <td>$ {{ capital_nuevo }}</td> 
      </tr>
  </tfoot>
</table>
{% endblock content %}
