{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Reportes
{% endblock titulo %}

{% block content %}
    <div class="principal">
        <h1 class="ef">ESTADOS FINANCIEROS</h1>
        <h2>Seleccionar los estados financieros a generar:</h2>
        <div class="reportes">
            <!--individual-->
            <div class="boton-ef estado-resultados">
                <img src="{% static 'img/estado-resultados.png'%}"  alt="">
                <div class="parrafos">
                    <p class="tipo">Estado de Resultados</p>
                    <p class="descripcion"> Informe sobre ganancias y pérdidas que muestra los ingresos y gastos de la empresa.</p>
                </div>
            </div>
            <!--individual-->
            <div class="boton-ef estado-capital">
                <img src="{% static 'img/estado-capital.png'%}"  alt="">
                <div class="parrafos">
                    <p class="tipo">Estado de Capital</p>
                    <p class="descripcion">Resumen de los cambios en el patrimonio neto de la empresa, detallando contribuciones de los propietarios y ganancias retenidas o distribuidas.</p>
                </div>
            </div>
            <!--individual-->
            <div class="boton-ef balance-general">
                <img src="{% static 'img/balance-general.png'%}"  alt="">
                <div class="parrafos">
                    <p class="tipo">Balance General</p>
                    <p class="descripcion">Informe de situación financiera que presenta activos, pasivos y patrimonio neto de la empresa.</p>
                </div>
            </div>
        </div>   
    </div>
    <div class="mostrar-reportes">
        <div class="resultados">
            <p class="encabezado">info</p>
            <table>contenido estado de resultados</table>
        </div>
        <div class="capital">
            <p class="encabezado">info</p>
            <table>contenido estado de capital</table>
        </div>
        <div class="general">
            <p class="encabezado">info</p>
            
            <!-- <table>contenido balance general</table> -->
        </div>
        <button class="btn cerrar-ef">Ocultar estados financieros</button>
    </div>

{% endblock content %}