{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Catalogo
{% endblock titulo %}

{% block content %}
    <h1>CATALOGO DE CUENTAS</h1><br>
    <a href="{% url 'crear' %}">
        <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nueva cuenta</button>
    </a>
     
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Nombre</th>              
                <!-- <th>Monto ($)</th> --> 
                <th>Modificar</th>
                <th>Eliminar</th>
                           
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in catalogo %}
                <tr>
                    <td> {{ e.codigo }}</td>
                    <td> {{ e.nombre }}</td>
                    <!-- <td> {{ e.monto }}</td> -->
                    <td> <a href="{% url 'modificar' e.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a></td>
                    <td><a href="{% url 'eliminar' e.id %}">
                        <i class="fa-regular fa-trash"></i></td>
                    </a></td>
                </tr>
                    {% endfor %}
        </tbody>
    </table>

{% endblock content %}