{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Catalogo
{% endblock titulo %}

{% block content %}
    <h1>CATALOGO DE CUENTAS</h1><br>
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>nombre</th>
                
                <th>Monto ($)</th>
                           
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in catalogo %}
                <tr>
                    <td> {{ e.codigo }}</td>
                    <td> {{ e.nombre }}</td>
                    
                    <td> {{ e.monto }}</td>
                </tr>
                    {% endfor %}
        </tbody>
    </table>

{% endblock content %}