{% extends 'layout/base.html' %}

{% block titulo %}
    Libro Mayor
{% endblock titulo %}

{% block content %}
<br><h1>Libro mayor - ServiTech</h1><br>
<table class="table table-striped" style="font-size: x-large;">
    <thead class="table-dark">
        <tr>
            <th>Nombre de la Cuenta</th>
            <th>DEBE</th>
            <th>HABER</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        {% for i in subcuenta %}
        {% if i.categoria == 'Debe' %}
            <tr>
                <td>{{ i.nombre }}</td>     
                <td>$ {{ i.monto }}</td>
                <td></td>
            </tr>
        {% endif %}    
        {% endfor %}

        {% for j in subcuenta %}
        {% if j.categoria == 'Haber' %}
            <tr>
                <td>{{ j.nombre }}</td>
                <td></td>     
                <td>$ {{ j.monto }}</td>
                
            </tr>
        {% endif %}    
        {% endfor %}
    </tbody>
    <tfoot class ="table-dark">
        <tr>
            <td><b>Total:</b></td>
            
            <td>$ {{ suma_monto_debe }}</td>
            <td>$ {{ suma_monto_haber }}</td>
        </tr>
    </tfoot>
</table>
  </table>
    <a class= "btn" href = "{% url 'transaccion' %}"> Volver</a>
{% endblock content %}


