{% extends 'layout/base.html' %}
{% load static %}

{% block titulo %}
    Transacciones
{% endblock titulo %}

{% block content %}
<div class="principal">
    <h1>TRANSACCIONES</h1>
    <div class="botones">
        <button id="diario">Mostrar libro diario</button>
        <button id="mayor">Mostrar libro mayor</button>
        <button id="ocultarTodo">Ocultar Todo</button>
    </div>
    <div id="Tdiario" class="hidden tabla">
        <!-- tabla para libro diario -->
        <table class="table table-striped" style="font-size: x-large;">
            <thead class="table-dark">
                <tr>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Cuenta Debe</th>
                    <th>Cuenta Haber</th>
                    <th>Monto</th>
                               
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for e in transaccionTabla %}
                    <tr>
                        <td> {{ e.codigo }}</td>
                        <td> {{ e.fecha }}</td>
                        <td> {{ e.descripcion }}</td>
                        <td> {{ e.cuenta_Debe }}</td>
                        <td> {{ e.cuenta_Haber }}</td>
                        <td> {{ e.monto }}</td>
                    </tr>
                        {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="Tmayor" class="hidden tabla">
        <!-- tabla para libro mayor -->
        <table>
        <!-- Contenido de la tabla -->
        <th>Hola</th>
        </table>
</div>
{% endblock content %}
