{% extends 'layout/base.html' %}
{% load static %}


{% block titulo %}
    Costeo ABC
{% endblock titulo %}


{% block content %}
<br><h1>Identificación de inductores y CIF asociadas a cada actividad</h1><br>
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Actividad</th>
                <th>Inductor</th>
                <th>CI Asociado</th>
                <th>Monto CI Asociado</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>{{ actividad1.nombre }}</td>
                <td>{{ inductor1.nombre }}</td>
                <td>{{ actividad1.costo_indirecto_asociado }}</td>
                <td>{{ consultoria_inicial }}</td>
            </tr>
            <tr>
                <td>{{ actividad2.nombre }}</td>
                <td>{{ inductor2.nombre }}</td>
                <td>{{ actividad2.costo_indirecto_asociado }}</td>
                <td>{{ seleccion_HS }}</td>
            </tr>
            <tr>
                <td>{{ actividad3.nombre }}</td>
                <td>{{ inductor3.nombre }}</td>
                <td>{{ actividad3.costo_indirecto_asociado }}</td>
                <td>{{ instalacion_configuracion }}</td>
            </tr>
            <tr>
                <td>{{ actividad4.nombre }}</td>
                <td>{{ inductor4.nombre }}</td>
                <td>{{ actividad4.costo_indirecto_asociado }}</td>
                <td>{{ capacitacion }}</td>
            </tr>       
        </tbody>
    </table>

    <br><h1>Número de veces por inductor al mes</h1><br>
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Actividad</th>
                <th>Inductor</th>
                <th>Cantidad De Inductor Al Mes</th>
                <th>Monto CI</th>
                <th>CI Por Unidad de Inductor</th>
                <th>Total CI</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>{{ actividad1.nombre }}</td>
                <td>{{ inductor1.nombre }}</td>
                <td>50</td>
                <td>{{ consultoria_inicial2 }}</td>
                <td>{{ consultoria_inicial3 }}</td>
                <td>{{ consultoria_inicial }}</td>
            </tr>
            <tr>
                <td>{{ actividad2.nombre }}</td>
                <td>{{ inductor2.nombre }}</td>
                <td>125</td>
                <td>{{ seleccion_HS2 }}</td>
                <td>{{ seleccion_HS3 }}</td>
                <td>{{ seleccion_HS }}</td>
            </tr>
            <tr>
                <td>{{ actividad3.nombre }}</td>
                <td>{{ inductor3.nombre }}</td>
                <td>10</td>
                <td>{{ instalacion_configuracion2 }}</td>
                <td>{{ instalacion_configuracion3 }}</td>
                <td>{{ instalacion_configuracion }}</td>
            </tr>
            <tr>
                <td>{{ actividad4.nombre }}</td>
                <td>{{ inductor4.nombre }}</td>
                <td>200</td>
                <td>{{ capacitacion2 }}</td>
                <td>{{ capacitacion3 }}</td>
                <td>{{ capacitacion }}</td>
            </tr>
        </tbody>
    </table>
    <br><h1>Mano de obra</h1><br>
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Trabajador</th>
                <th>Salario Por Hora</th>
                <th>Cantidad De Horas</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
           <tr>
            <td>{{puesto1.nombre}}</td>
            <td>{{puesto1.salario_por_hora}}</td>
            <td>50</td>
            <td>{{mod1}}</td>
           </tr>
           <tr>
            <td>{{puesto2.nombre}}</td>
            <td>{{puesto2.salario_por_hora}}</td>
            <td>200</td>
            <td>{{mod2}}</td>
           </tr>
           <tr>
            <td>{{puesto3.nombre}}</td>
            <td>{{puesto3.salario_por_hora}}</td>
            <td>125</td>
            <td>{{mod3}}</td>
           </tr>
        </tbody>
    </table>
    <br><h1>Resultado Del Costeo</h1><br>
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Costo Total</th>
                <th>Costo Unitario</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
           <tr>
            <td>{{costo_total}}</td>
            <td>{{costo_unitario}}</td>
           </tr>
        </tbody>
    </table>

{% endblock content %}
    