{% extends 'layout/base.html' %}
{% load static %}


{% block titulo %}
    Servicios
{% endblock titulo %}


{% block content %}
        <div class="contenedor-servicio">
        <!-- servicio individual -->
        <div class="servicio uno">
            <div class="generalidades">
                <img src="{% static 'img/instalacion.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Instalacion</h2>
                    <p class="S1-desc">Instalación de servidores con hardware y software adecuados, asegurando una configuración óptima para comenzar a operar de inmediato.</p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>Modelo del servidor según seleccionado de uno de los 2 planes</li>
                    <li>Horas servidas del consultor</li>
                    <li>Horas servidas de técnicos</li>
                    <li>Horas servidas de capacitador</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>Alquiler de oficina</li>
                    <li>Mantenimiento de Equipos y Herramientas</li>
                    <li>Costos de comunicación</li>
                    <li>Costos administrativos</li>
                    <li>Transporte</li>
                </ul>
            </div>
        </div>
         <div class="servicio dos">
            <div class="generalidades">
                <img src="{% static 'img/mantenimiento.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Mantenimiento</h2>
                    <p class="S1-desc">Prestación de mantenimiento preventivo y correctivo para garantizar un funcionamiento continuo y confiable de los servidores.</p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>Horas servidas de técnicos</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>Mantenimiento de Equipos y Herramientas</li>
                    <li>Costos de comunicación</li>
                    <li>Costos administrativos</li>
                    <li>Transporte</li>
                </ul>
            </div>
        </div>
         <div class="servicio tres">
            <div class="generalidades">
                <img src="{% static 'img/seguridad.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Seguridad</h2>
                    <p class="S1-desc">Implementación de soluciones de seguridad avanzadas para proteger sus servidores contra amenazas cibernéticas.</p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>Horas servidas de técnicos</li>
                    <li>Horas servidad de administrador en seguridad</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>Costos de comunicación</li>
                    <li>Costos administrativos</li>
                    <li>Transporte</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}