{% extends 'layout/base.html' %}
{% load static %}


{% block titulo %}
    Servicios
{% endblock titulo %}


{% block content %}
        <div class="contenedor-servicio">
        <!-- servicio individual -->
        <div class="servicio uno">
            <div class="generalidades">
                <img src="{% static 'img/instalacion.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Instalacion</h2>
                    <p class="S1-desc"></p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
         <div class="servicio dos">
            <div class="generalidades">
                <img src="{% static 'img/mantenimiento.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Mantenimiento</h2>
                    <p class="S1-desc"></p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
         <div class="servicio tres">
            <div class="generalidades">
                <img src="{% static 'img/seguridad.jpg'%}" alt="">
                <div class="texto">
                    <h2 class="S1-H2">Servicio: Seguridad</h2>
                    <p class="S1-desc"></p>
                </div>
            </div>
            <div class="recursos">
                <h2 class="S1-H2">Recursos utilizados:</h2>
                <p>Costo Directo</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <p>Costos Indirectos</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
    